<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/sticky-footer-navbar.css">
    <title>{% block title %}{% endblock %}Do Amanhã</title>
    {% endblock %}
  </head>
  <body>
    {% include "navbar.html" %}
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
    {% include "footer.html" %}
  </body>
</html>